# Start by ignoring everything.
*

# Then, un-ignore all directories. This is the key to letting Git
# traverse into subdirectories.
!*/

# Now, specify the files you want to keep.
!.git*
!**/*.py
!**/*.md
!**/*.ini
!**/*.png
